<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.majy.scoremanager.mapper.PlayerInfoMapper" >
    <resultMap id="BaseResultMap" type="com.majy.scoremanager.domain.PlayerInfo" >
        <id column="playerId" property="playerId" jdbcType="VARCHAR" />
        <result column="gameId" property="gameId" jdbcType="VARCHAR" />
        <result column="playerNum" property="playerNum" jdbcType="INTEGER" />
        <result column="playerName" property="playerName" jdbcType="VARCHAR" />
        <result column="playerDepartment" property="playerDepartment" jdbcType="VARCHAR" />
        <result column="playerSum" property="playerSum" jdbcType="DECIMAL" />
        <result column="playerAverage" property="playerAverage" jdbcType="DECIMAL" />
        <result column="playerRanking" property="playerRanking" jdbcType="INTEGER" />
        <result column="playerImg" property="playerImg" jdbcType="VARCHAR" />
        <result column="playerAddBy" property="playerAddBy" jdbcType="VARCHAR" />
        <result column="playerDeleted" property="playerDeleted" jdbcType="VARCHAR" />
        <result column="playerActive" property="playerActive" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAll" resultType="list" resultMap="BaseResultMap"  >
        SELECT
        *
        FROM playerinfo
    </select>

    <select id="getPlayerList" parameterType="com.majy.scoremanager.domain.PlayerInfo" resultType="list" resultMap="BaseResultMap"  >
        SELECT
        *
        FROM playerinfo
        <where>
            <if test="playerId != null and playerId != '' ">
                and playerId = #{playerId}
            </if>
            <if test="gameId != null and gameId != '' ">
                and gameId = #{gameId}
            </if>
            <if test="playerNum != null and playerNum != '' ">
                and playerNum = #{playerNum}
            </if>
            <if test="playerName != null and playerName != '' ">
                and playerName = #{playerName}
            </if>
            <if test="playerDepartment != null and playerDepartment != '' ">
                and playerDepartment = #{playerDepartment}
            </if>
            <if test="playerDeleted != null and playerDeleted != '' ">
                and playerDeleted = #{playerDeleted}
            </if>
            <if test="playerActive != null and playerActive != '' ">
                and playerActive = #{playerActive}
            </if>
            <if test="playerAddBy != null and playerAddBy != '' ">
                and playerAddBy = #{playerAddBy}
            </if>
        </where>
        ORDER BY gameId,playerAverage DESC ,playerNum
    </select>

    <select id="getPlayerListByGameId" parameterType="java.lang.String" resultType="list" resultMap="BaseResultMap"  >
        SELECT
        *
        FROM playerinfo
        WHERE gameId = #{gameId}
        ORDER BY playerRanking,playerNum
    </select>

    <select id="getPlayerInfoById" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        *
        FROM playerinfo
        WHERE playerId = #{playerId}
    </select>

    <select id="getPlayerListByJudge" parameterType="java.util.Map" resultMap="BaseResultMap" >
        SELECT DISTINCT
        playerId
        FROM scoreinfo
        WHERE gameId = #{gameId}
        AND judgeId = #{judgeId}
    </select>

    <select id="getAvgListByPlayer" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT b.playerNum,b.playerDepartment, b.playerId, b.gameId, b.playerName, b.playerRanking,SUM(a.scoreValue) AS playerSum, ROUND(AVG(a.scoreValue),2) AS playerAverage
        FROM scoreinfo a
        INNER JOIN playerinfo b ON a.playerId = b.playerId AND a.gameId = b.gameId
        WHERE a.gameId = #{gameId} GROUP BY a.playerId ORDER BY playerAverage DESC, playerName
    </select>

    <insert id="insert" parameterType="com.majy.scoremanager.domain.PlayerInfo" >
        INSERT INTO
        playerinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="playerId != null and playerId != '' ">
                playerId,
            </if>
            <if test="gameId != null and gameId != '' ">
                gameId,
            </if>
            <if test="playerNum != null and playerNum != '' ">
                playerNum,
            </if>
            <if test="playerName != null and playerName != '' ">
                 playerName,
            </if>
            <if test="playerDepartment != null and playerDepartment != '' ">
                 playerDepartment,
            </if>
            <if test="playerDeleted != null and playerDeleted != '' ">
                 playerDeleted,
            </if>
            <if test="playerActive != null and playerActive != '' ">
                 playerActive,
            </if>
            <if test="playerImg != null and playerImg != '' ">
                playerImg,
            </if>
            <if test="playerAddBy != null and playerAddBy != '' ">
                playerAddBy,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="playerId != null and playerId != '' ">
                #{playerId},
            </if>
            <if test="gameId != null and gameId != '' ">
                #{gameId},
            </if>
            <if test="playerNum != null and playerNum != '' ">
                #{playerNum},
            </if>
            <if test="playerName != null and playerName != '' ">
                #{playerName},
            </if>
            <if test="playerDepartment != null and playerDepartment != '' ">
                #{playerDepartment},
            </if>
            <if test="playerDeleted != null and playerDeleted != '' ">
                #{playerDeleted},
            </if>
            <if test="playerActive != null and playerActive != '' ">
                #{playerActive},
            </if>
            <if test="playerImg != null and playerImg != '' ">
                #{playerImg},
            </if>
            <if test="playerAddBy != null and playerAddBy != '' ">
                #{playerAddBy},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.majy.scoremanager.domain.PlayerInfo" >
        UPDATE
        playerinfo
        <set>
        <if test="gameId != null and gameId != ''">gameId = #{gameId},</if>
        <if test="playerNum != null and playerNum != ''">playerNum = #{playerNum},</if>
        <if test="playerName != null and playerName != ''">playerName = #{playerName},</if>
        <if test="playerDepartment != null and playerDepartment != ''">playerDepartment = #{playerDepartment},</if>
        <if test="playerSum != null and playerSum != ''">playerSum = #{playerSum},</if>
        <if test="playerAverage != null and playerAverage != ''">playerAverage = #{playerAverage},</if>
        <if test="playerRanking != null and playerRanking != ''">playerRanking = #{playerRanking},</if>
        <if test="playerImg != null and playerImg != ''">playerImg = #{playerImg},</if>
        <if test="playerAddBy != null and playerAddBy != ''">playerAddBy = #{playerAddBy},</if>
        <if test="playerDeleted != null and playerDeleted != ''">playerDeleted = #{playerDeleted},</if>
        <if test="playerActive != null and playerActive != ''">playerActive = #{playerActive},</if>
        </set>
        WHERE
        playerId = #{playerId}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        DELETE FROM
        playerinfo
        WHERE
        playerId =#{playerId}
    </delete>

</mapper>